---
import Button from '@/components/solid/Button';
import Layout from '@/layouts/Layout.astro';
const turn = 'X';

const gameId = crypto.randomUUID();
---

<Layout title='Tic Tac Toe'>
  <main class='flex flex-col items-center justify-center h-full'>
    <div class='w-60'>
      <form method='post' action=`game/${gameId}`>
        <input type='hidden' name='turn' value={turn} />
        <input
          autocomplete='off'
          placeholder='John Doe'
          name='username'
          class='w-full h-10 pl-3 mb-4 rounded bg-black text-white focus:outline-none'
          type='text'
        />
        <Button className='w-full' type='primary'>Play</Button>
      </form>
    </div>
  </main>
</Layout>

<script defer type='module' crossorigin='anonymous'>
  const username = window.localStorage.getItem('username');
  const form = document.querySelector('form');
  const usernameInput = document.querySelector('input[name="username"]');
  usernameInput.value = username ?? '';

  form?.addEventListener('submit', () => {
    window.localStorage.setItem('username', usernameInput.value);
  });
</script>
