---
import BaseLayout from './BaseLayout.astro';
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<BaseLayout {title}>
  <div class='flex flex-col h-screen'>
    <nav
      class='w-4/5 m-auto flex justify-between items-center flex-col sm:flex-row'
    >
      <a href='/'>
        <span translate='no' class='text-teal-400 text-2xl fotn-bold'>Tic</span>
        <span translate='no' class='text-amber-400 text-2xl font-bold'>Tac</span
        >
        <span translate='no' class='text-teal-400 text-2xl fotn-bold'>Toe</span>
      </a>
      <ul class='flex w-[300px] sm:w-auto'>
        <li class='flex-grow sm:flex-grow-0 text-center'>
          <a class='p-2 sm:p-4 block text-white' href='/'>Create</a>
        </li>
        <li class='flex-grow sm:flex-grow-0 text-center'>
          <a class='p-2 sm:p-4 block text-white' href='/join'>Join</a>
        </li>
        <li class='flex-grow sm:flex-grow-0 text-center'>
          <a
            class='p-2 sm:p-4 block text-white'
            href='https://github.com/leoalipazaga'>Github</a
          >
        </li>
      </ul>
    </nav>
    <div class='flex-grow'>
      <slot />
    </div>
  </div>
</BaseLayout>
